name: Testing

on:
  push:
    branches:
      - main
  pull_request:
env:
  PYTHON_VERSION: "3.13"
  SECRET_KEY: "someKey"
  FIRST_SUPERUSER_EMAIL: "some@email.com"
  FIRST_SUPERUSER_PASSWORD: "somePassword!"
  POSTGRES_HOST: "127.0.0.1"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "test_password"
  POSTGRES_DB: "scan"
  OPENAI_API_KEY: "someKey"
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Build backend image
        run: just docker-build-backend
  backend-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Dependencies
        run: just backend-install
      - name: Ruff format check
        run: just ruff-format-ci
      - name: Lint with ruff
        run: just ruff-check
      - name: mypy check
        run: just mypy
  backend-testing:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: just backend-install
      - name: Start docker containers
        run: just docker-up-backend-ci
      - name: Test with pytest
        run: just backend-test
  frontend-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json
      - name: Install Dependencies
        run: just frontend-install
      - name: Lint
        run: just frontend-lint
  frontend-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json
      - name: Install Dependencies
        run: just frontend-install
      - name: Build
        run: just frontend-build
  frontend-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json
      - name: Install Dependencies
        run: just frontend-install
      - name: test
        run: just frontend-test
  end-to-end-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json
      - name: Install Dependencies
        run: just frontend-install
      - name: Start containers
        run: just docker-up-detached
      - name: test
        run: just e2e-test
